

.container {
    width: 40%;
    min-width: min-content;
    border: 3px solid #76484b;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 25px auto;

}

.title {
    font-weight: bold;
    font-size: 2em;
    flex-basis:30%;
    padding: 10px;


}

.main-part {
    background-color:#76484b;
    color:#f4e3eb;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-basis: 70%;

}

.description {
    margin: 15px 0;

}

.back-ref {
    text-align: center;
    color:#76484b;
}

a {
    color: #76484b;
}



