
#container {
    background-color:#76484b;
    color:#f4e3eb;
    width: 30%;
    margin: 25px auto;
    padding: 25px 25px 25px 25px;
}


.modal-body {
    background-color:#76484b;
    color:#f4e3eb;
    padding: 25px 25px 25px 25px;
}