<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">    
	<title th:text="#{main.title}">Meeting Room</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link th:href="@{../css/index.css}" rel="stylesheet" type="text/css" href="../static/css/index.css" >

    <script>
        function createMeetingDiv(id, title, day, startTime, endTime, participants) {
            let meeting = document.createElement("div");
            meeting.classList.add("meeting");
            meeting.style.cssText = "grid-column: " + day + "; grid-row: " + startTime + " / " + endTime;
            meeting.onclick = function() {
                let url = "/details?id=" + id;
                document.location.href = url, true;
                return true;
            }

            let meetingTitle = document.createElement("span");
            meetingTitle.classList.add("meeting-title");
            meetingTitle.innerHTML = title;
            meeting.appendChild(meetingTitle);

            participants.forEach( (p) => {
                let participant = document.createElement("span");
                participant.classList.add("meeting-participant");
                participant.innerHTML = p;
                meeting.appendChild(participant);
            });

            document.getElementById("schedule").appendChild(meeting);
        }
    </script>
</head>
<body>
<div class="header">
	<h2 id="logo">Meeting Room</h2>
	<h2 id="username" th:text="${username}">Username</h2>
    <div class="avatar-field" id="avatar-field">
        <div class="avatar" id="avatar">AB</div>
    </div>
</div>
<div class="schedule" id="schedule">
    
    <span class="day-header" aria-hidden="true" style="grid-column: monday; grid-row: days;" th:text="#{main.days.monday}">Monday</span>
    <span class="day-header" aria-hidden="true" style="grid-column: tuesday; grid-row: days;" th:text="#{main.days.tuesday}">Tuesday</span>
    <span class="day-header" aria-hidden="true" style="grid-column: wednesday; grid-row: days;" th:text="#{main.days.wednesday}">Wednesday</span>
    <span class="day-header" aria-hidden="true" style="grid-column: thursday; grid-row: days;" th:text="#{main.days.thursday}">Thursday</span>
    <span class="day-header" aria-hidden="true" style="grid-column: friday; grid-row: days;" th:text="#{main.days.friday}">Friday</span>
    <span class="day-header" aria-hidden="true" style="grid-column: saturday; grid-row: days;" th:text="#{main.days.saturday}">Saturday</span>
	
	<span class="date-header" th:text="${firstDayOfWeek.format(dateFormatter)}" aria-hidden="true" style="grid-column: monday; grid-row: dates;">10.08.2020</span>
	<span class="date-header" th:text="${firstDayOfWeek.plusDays(1).format(dateFormatter)}" aria-hidden="true" style="grid-column: tuesday; grid-row: dates;">11.08.2020</span>
	<span class="date-header" th:text="${firstDayOfWeek.plusDays(2).format(dateFormatter)}" aria-hidden="true" style="grid-column: wednesday; grid-row: dates;">12.08.2020</span>
	<span class="date-header" th:text="${firstDayOfWeek.plusDays(3).format(dateFormatter)}" aria-hidden="true" style="grid-column: thursday; grid-row: dates;">13.08.2020</span>
	<span class="date-header" th:text="${firstDayOfWeek.plusDays(4).format(dateFormatter)}" aria-hidden="true" style="grid-column: friday; grid-row: dates;">14.08.2020</span>
	<span class="date-header" th:text="${firstDayOfWeek.plusDays(5).format(dateFormatter)}" aria-hidden="true" style="grid-column: saturday; grid-row: dates;">15.08.2020</span>
	
	
	<div class="h-line" style="grid-row: h-line 1; grid-column: monday / end-of-week; background: #f4e3eb"></div>
	<div class="h-line" style="grid-row: h-line 2; grid-column: monday / end-of-week; background: #f4e3eb"></div>
	<div class="v-line" style="grid-column: v-line 1; grid-row: time-0000 / end-of-day; background: #f4e3eb"></div>
	<div class="v-line" style="grid-column: v-line 2; grid-row: time-0000 / end-of-day; background: #f4e3eb"></div>
	<div class="v-line" style="grid-column: v-line 3; grid-row: time-0000 / end-of-day; background: #f4e3eb"></div>
	<div class="v-line" style="grid-column: v-line 4; grid-row: time-0000 / end-of-day; background: #f4e3eb"></div>
	<div class="v-line" style="grid-column: v-line 5; grid-row: time-0000 / end-of-day; background: #f4e3eb"></div>
	<div class="v-line" style="grid-column: v-line 6; grid-row: time-0000 / end-of-day; background: #f4e3eb"></div>
	<div class="v-line" style="grid-column: v-line 7; grid-row: time-0000 / end-of-day; background: #f4e3eb"></div>
    
    <span class="time-slot" style="grid-row: time-0000;">00:00</span>
    <span class="time-slot" style="grid-row: time-0100;">01:00</span>
    <span class="time-slot" style="grid-row: time-0200;">02:00</span>
    <span class="time-slot" style="grid-row: time-0300;">03:00</span>
    <span class="time-slot" style="grid-row: time-0400;">04:00</span>
    <span class="time-slot" style="grid-row: time-0500;">05:00</span>
    <span class="time-slot" style="grid-row: time-0600;">06:00</span>
    <span class="time-slot" style="grid-row: time-0700;">07:00</span>
    <span class="time-slot" style="grid-row: time-0800;">08:00</span>
    <span class="time-slot" style="grid-row: time-0900;">09:00</span>
    <span class="time-slot" style="grid-row: time-1000;">10:00</span>
    <span class="time-slot" style="grid-row: time-1100;">11:00</span>
    <span class="time-slot" style="grid-row: time-1200;">12:00</span>
    <span class="time-slot" style="grid-row: time-1300;">13:00</span>
    <span class="time-slot" style="grid-row: time-1400;">14:00</span>
    <span class="time-slot" style="grid-row: time-1500;">15:00</span>
    <span class="time-slot" style="grid-row: time-1600;">16:00</span>
	<span class="time-slot" style="grid-row: time-1700;">17:00</span>
	<span class="time-slot" style="grid-row: time-1800;">18:00</span>
	<span class="time-slot" style="grid-row: time-1900;">19:00</span>
	<span class="time-slot" style="grid-row: time-2000;">20:00</span>
	<span class="time-slot" style="grid-row: time-2100;">21:00</span>
	<span class="time-slot" style="grid-row: time-2200;">22:00</span>
	<span class="time-slot" style="grid-row: time-2300;">23:00</span>

    <div class="meeting" style="grid-column: monday; grid-row: time-0800 / span 2">
        <span class="meeting-title">Test Title</span>
        <span class="meeting-participant">alexei.stratonov</span>
        <span class="meeting-participant">ivan.filippov</span>
    </div>    
	

    </div>
</div>

<ul class="pager">
    <li ><a style="width: 10em;" href="#" th:href="'/?date=' + ${firstDayOfWeek.minusWeeks(1)}"
            th:text="#{main.command.previous}">Previous</a></li>
    <li style="margin: 0 .5em;"><a style="width: 8em; background-color: #1183ca; color: white;"
                                   href="#" th:href="@{/new}" th:text="#{main.command.create}">Create</a></li>
    <li><a style="width: 10em;" href="#" th:href="'/?date=' + ${firstDayOfWeek.plusWeeks(1)}"
           th:text="#{main.command.next}">Next</a></li>
</ul>

<script  th:inline="javascript">
        let day, hour, title, id;
        [# th:each="meeting:${meetings}"]
            startDay = [[${meeting.getStartTime().getDayOfWeek().getValue()}]];
            startHour = [[${meeting.getStartTime().getHour()}]];
            startMinute = [[${meeting.getStartTime().getMinute()}]];
            if (startMinute < 30) {
                startMinute = "00";
            } else {
                startMinute = "30";
            }
            startTime = "time-" + startHour + startMinute;

            endDay = [[${meeting.getEndTime().getDayOfWeek().getValue()}]];
            endHour = [[${meeting.getEndTime().getHour()}]];
            endMinute = [[${meeting.getEndTime().getMinute()}]];
            if (endMinute < 30) {
                endMinute = "00";
            } else {
                endMinute = "30";
            }

            endTime = "time-" + endHour + endMinute;

            id = [[${meeting.getId()}]];
            title = [[${meeting.getTitle()}]];
            participants = [[${meeting.getParticipants()}]];

            if (startDay === endDay) {
                day = 'day-' + startDay;
                createMeetingDiv(id, title, day, startTime, endTime, participants)
            } else {
                day = 'day-' + startDay;
                createMeetingDiv(id, title, day, startTime, 'end-of-day', participants)
                day = 'day-' + endDay;
                createMeetingDiv(id, title, day, 'time-0000', endTime, participants)
            }



        [/]
    </script>

    <script th:inline="javascript">
        let avatar = document.getElementById('avatar');
        avatar.innerHTML = [[${username}]].slice(0,1).toUpperCase();
    </script>

</body>