<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td {
            border: 1px solid yellow;
            border-collapse: collapse;
        }
        th, td {
            padding:5px
        }

    </style>
    <script>
        function createTable() {
            let table = document.getElementById('mainTable')
            for (let hours = 0; hours < 25; hours++) {
                let row = table.insertRow();
                let cell = row.insertCell();
                cell.innerHTML = hours + ":00";
                for (let dayOfWeek = 1; dayOfWeek < 7; dayOfWeek++) {
                    row.insertCell();
                }
            }
        }
    </script>
    </head>
<body style="background-color:#76484b; color:#f4e3eb">
<table style="width:100%">
    <tr>
        <td><h1>Meet Room</h1></td>
        <td style="text-align:right"><h2>Username</h2></td>
    </tr>
</table>
<table id="mainTable" style="width:100%; text-align:center; font-weight:bold; font-size:1.2em;">
    <thead>
    <tr>
        <th>Time</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
    <script>
        createTable();
    </script>
    <script  th:inline="javascript">
        let dayOfWeek, hour, cell;
        [# th:each="meeting:${meetings}"]
            dayOfWeek = [[${meeting.getStartTime().getDayOfWeek().getValue()}]]
            hour = [[${meeting.getStartTime().getHour()}]]
            cell = document.getElementById('mainTable').rows[hour + 1].cells[dayOfWeek];
            cell.innerHTML = [[${meeting.title}]];
        [/]
    </script>
</table>
</body>
</html>